<% content_for :title, 'Contact' %>

<style>
    <% content_for :styles do %>
        body {
            background-color: #efefef;
            min-height: auto;
        }
    <% end %>
</style>

<section>
  <% content_for :section do %>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Contact Details</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a href="mailto:sulman.baig.ee@gmail.com"><i class="fa fa-envelope-o"></i> sulman.baig.ee@gmail.com</a><br>
            <a href="https://github.com/sulmanhotmail"><i class="fa fa-github-square"></i> sulmanhotmail</a><br>
            <a href="http://twitter.com/intent/tweet?screen_name=sulmanweb"><i class="fa fa-twitter-square"></i> @sulmanweb</a><br>
          </div>
          <div class="col-sm-4">
            <a href="https://www.facebook.com/tiredofbeingnumb"><i class="fa fa-facebook-square"></i> Sulman Baig</a><br>
            <a href="https://plus.google.com/u/0/+SulmanBaigweb/about"><i class="fa fa-google-plus-square"></i> +SulmanBaigweb</a><br>
            <a href="https://www.linkedin.com/in/sulmanbaig"><i class="fa fa-linkedin-square"></i> sulmanbaig</a><br>
          </div>
          <div class="col-sm-4">
            <a href="https://www.youtube.com/channel/UCkecwtFwuPlVPKUhgI8bzvw"><i class="fa fa-youtube-play"></i> Sulman Baig</a><br>
            <a href="skype:sulman1990@hotmail.com?userinfo"><i class="fa fa-skype"></i> sulman1990@hotmail.com</a><br>
            <a href="tel:+393423293236"><i class="fa fa-phone-square"></i> +39 342 329 3236</a><br>
          </div>
        </div>
      </div>
  <% end %>
</section>

<script>
    <% content_for :scripts do %>
    <% end %>
</script>