<% content_for :title, '' %>

<style>
    <% content_for :styles do %>
    <% end %>
</style>

<section>
  <% content_for :section do %>
  <% end %>
</section>

<script>
    <% content_for :scripts do %>
    <% end %>
</script>